{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.fressian {:mvn/version "1.0.0"} ;; for filestore
        mvxcvi/clj-cbor {:mvn/version "1.1.1"}
        io.replikativ/incognito {:mvn/version "0.3.66"}
        io.replikativ/hasch {:mvn/version "0.3.94"}
        io.replikativ/superv.async {:mvn/version "0.3.46"}
        io.replikativ/geheimnis {:mvn/version "0.1.1"}
        org.lz4/lz4-java {:mvn/version "1.8.0"}
        com.taoensso/timbre {:mvn/version "6.0.1"}
        ;; cljs
        com.github.pkpkpk/cljs-node-io {:mvn/version "2.0.339"}
        com.github.pkpkpk/fress {:mvn/version "0.4.312"}
        org.clojars.mmb90/cljs-cache {:mvn/version "0.1.4"}}
 :aliases {:dev {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                              metasoarous/oz {:mvn/version "2.0.0-alpha5"}
                              org.clojure/tools.cli {:mvn/version "1.0.214"}}
                 :extra-paths ["benchmark/src" "test"]}
           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                               thheller/shadow-cljs {:mvn/version "2.26.0"}}
                  :extra-paths ["test"]}
           :benchmark {:extra-deps {metasoarous/oz {:mvn/version "2.0.0-alpha5"}
                                    org.clojure/tools.cli {:mvn/version "1.0.214"}}
                       :extra-paths ["benchmark/src"]
                       :main-opts ["-m" "benchmark.core"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :build  {:deps {io.github.clojure/tools.build          {:mvn/version "0.9.3"}
                           slipset/deps-deploy                    {:mvn/version "0.2.0"}
                           io.github.borkdude/gh-release-artifact {:git/sha "b946558225a7839f6a0f644834e838e190dc2262"}
                           babashka/babashka.curl                 {:mvn/version "0.1.2"}
                           babashka/fs                            {:mvn/version "0.3.17"}
                           cheshire/cheshire                      {:mvn/version "5.11.0"}}
                    :ns-default build}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}
           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}
           :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2023.10.20"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.2.983"}}
                      :main-opts ["-m" "antq.core"]}}}
