{:hooks {:macroexpand {superv.async/go-try- superv.async/go-try-}}
 :lint-as {konserve.utils/with-promise clj-kondo.lint-as/def-catch-all}
 :linters {:unresolved-symbol {:exclude [(konserve.utils/async+sync [do])]}}}
 